:root {
    --bg-color: #090040;
    --card-bg: #090040;
    --bold-text: #B13BFF;
    --h1-text: #F0F4F8;
    --small-text: #ffffff;
    --btn-bg: #2563eb;
    /* blue */
    --btn-hover: #9333ea;
    /* purple shade */
}